.app-header {
  .logo {
    width: 8%;
    height: 5%;
    border-radius: 50%;
    margin-left: 20%;
  }
  ul {
    .home-link{
      margin-left: 20%;
    }
    padding: 1%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        text-decoration: none;
        color: rgba(80, 78, 78, 0.699);
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #fff;
        -webkit-text-stroke-color: #911e99;
        -webkit-text-stroke-width: 0.3px;
        &:hover {
          background-color: rgba(189, 184, 184, 0.185);
        }
      }
    }
  }
}
