body {
  direction: rtl;
  font-family: "Comforter Brush", Arial, Helvetica, sans-serif;
  margin: 0;
}

@font-face {
  font-family: "Comforter Brush";
  src: url("../assets/fonts/ComforterBrush-Regular.ttf");
}
@font-face {
    font-family:"Bellefair-Regular" ;
    src: url("../assets/fonts/Bellefair-Regular.ttf");
}
